{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}


<div class="row mt-3 align-items-center mainbody">
    <div class="col-auto">
        <h1 class="title"> Hot questions</h1>
    </div>
</div>


{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}


<div class="row bottom ">
    {% if page.has_previous %}
    <div class="col-auto bottompart"><a href="{% url 'hot'%}?page={{page.previous_page_number}}"><button type="button" class="btn btn-default"><</button></a></div>
    {% else %}
    <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default"><</button></a></div>
    {% endif %}
    <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default">{{ page.number }}</button></a></div>
    {% if page.has_next  %}
    <div class="col-auto bottompart"><a href="{% url 'hot'%}?page={{page.next_page_number}}"><button type="button" class="btn btn-default">></button></a></div>
    {% else %}
    <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default">></button></a></div>
    {% endif %}
</div>


{% endblock %}