{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}


<div class="row mt-3 align-items-center mainbody">
    <div class="col-auto">
        <h1 class="title">New questions</h1>
    </div>
    <div class="col-auto"><a href="">Hot questions</a></div>
</div>


{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}


<div class="row bottom ">
    <div class="col-auto bottompart"><button type="button" class="btn btn-default"><</button></div>
    <div class="col-auto "><button type="button" class="btn btn-default">1</button></div>
    <div class="col-auto "><button type="button" class="btn btn-default">></button></div>
</div>


{% endblock %}