{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--NEW-->
<div class="row questionblockmain">
    <div class="col-3">
        <div class="row"><img src="{% static '/img/crying_cat.jpg' %}"></div>
        <div class="row align-items-center">
            <div class="col-auto"><span>25</span></div>
            <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-up fa-lg"></i></button></div>
            <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-down fa-lg"></i></button></div>
        </div>
    </div>
    <div class="col ">
        <div class="col"><h1>First question</h1></div>
        <div class="w-100"></div>
        <div class="col"><p>Lorem ipsum dolor sit amet, cofdsjhfjks sdhfjksghfjks shdjfkhsjk shdfjkhsjkf sdfhjkdgsj sdhfjkshjk sdjfgsjk</p></div>
        <div class="row">
            <div class="col-auto"><span>Tags: </span></div>
            <div class="col-auto"><a href="">dsgahdja</a></div>
            <div class="col-auto"><a href="">wth</a></div>
        </div>
    </div>
</div>

<div class ="comments"></div>
    <div class="row commentblock">
        <div class="col-3">
            <div class="row"><img src="{% static '/img/crying_cat.jpg' %}"></div>
            <div class="row align-items-center">
                <div class="col-auto"><span>25</span></div>
                <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-up fa-lg"></i></button></div>
                <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-down fa-lg"></i></button></div>
            </div>
        </div>
        <div class="col ">
            <div class="col"><p>Lorem ipsum dolor sit amet, cofdsjhfjks sdhfjksghfjks shdjfkhsjk shdfjkhsjkf sdfhjkdgsj sdhfjkshjk sdjfgsjk</p></div>
            <div class="row align-items-center">
                <div class="col-auto"><input type="checkbox"></div>
                <div class="col-auto"><span>Correct</span></div>
            </div>
        </div>
    </div>

    <div class="row commentblock">
        <div class="col-3">
            <div class="row"><img src="{% static '/img/crying_cat.jpg' %}"></div>
            <div class="row align-items-center">
                <div class="col-auto"><span>25</span></div>
                <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-up fa-lg"></i></button></div>
                <div class="col-auto"><button class="btn"><i class="fa-solid fa-thumbs-down fa-lg"></i></button></div>
            </div>
        </div>
        <div class="col ">
            <div class="col"><p>Lorem ipsum dolor sit amet, cofdsjhfjks sdhfjksghfjks shdjfkhsjk shdfjkhsjkf sdfhjkdgsj sdhfjkshjk sdjfgsjk</p></div>
            <div class="row">
                <div class="col-auto"><input type="checkbox" checked></div>
                <div class="col-auto"><span>Correct</span></div>
            </div>
        </div>
    </div>
    <div class ="comments2"></div>


<div class="row bottom ">
    <div class="col bottompart2"><textarea placeholder="Enter your answer here"></textarea></div>
    <div class="w-100"></div>
    <div class="col-auto bottompart2"><button type="button" class="btn btn-default">Answer</button></div>
</div>
<!--NEW-->
{% endblock %}