{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

{% include 'components/question-item.html' %}

<div class ="comments"></div>

{% for answer in answers %}

{% include 'components/answer-item.html' %}

{% endfor %}

    <div class="row bottom ">
        {% if page.has_previous %}
        <div class="col-auto bottompart"><a href="{% url 'question' question.id%}?page={{page.previous_page_number}}"><button type="button" class="btn btn-default"><</button></a></div>
        {% else %}
        <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default"><</button></a></div>
        {% endif %}

        <div class="col-auto bottompart"><button type="button" class="btn btn-default">{{ page.number }}</button></div>
        
        {% if page.has_next  %}
        <div class="col-auto bottompart"><a href="{% url 'question' question.id%}?page={{page.next_page_number}}"><button type="button" class="btn btn-default">></button></a></div>
        {% else %}
        <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default">></button></a></div>
        {% endif %}
    </div>

    <div class ="comments2"></div>

    <div class="row bottom ">
        <div class="col bottompart2"><textarea placeholder="Enter your answer here"></textarea></div>
        <div class="w-100"></div>
        <div class="col-auto bottompart2"><button type="button" class="btn btn-default">Answer</button></div>
    </div>


{% endblock %}