{% extends 'layouts/base.html' %}

{% block content %}

<div class="row mt-3 align-items-center mainbody">
    <div class="col-auto"><h1 class="title">Registration</h1></div>
</div>

<div class = "createlog">
    <div class="row redtext"><p>Sorry, this email address has already registered</p></div>
    <div class="row align-items-start">
        <div class="col-3"><p>Login:</p></div>
        <div class="col-5"><input type="text" placeholder="Bingus_the_second"></div>
    </div>
    <div class="row align-items-start">
        <div class="col-3"><p>Email:</p></div>
        <div class="col-5"><input type="email" placeholder="thebingus@gmail.com"></div>
    </div>
    <div class="row align-items-start">
        <div class="col-3"><p>NickName:</p></div>
        <div class="col-5"><input type="text" placeholder="Bingus"></div>
    </div>
    <div class="row align-items-start">
        <div class="col-3"><p>Password:</p></div>
        <div class="col-5"><input type="password" placeholder="*********"></div>
    </div>
    <div class="row align-items-start">
        <div class="col-3"><p>Repeat password:</p></div>
        <div class="col-5"><input type="password" placeholder="*********"></div>
    </div>
    <div class="row align-items-start">
        <div class="col-3"><p>Upload avatar:</p></div>
        <div class="col-5"><input type="file"></div>
    </div>
</div>

<div class = "row bottomlog">
    <div class="col-auto bottompart"><button type="button" class="btn btn-default">Register</button></div>
</div>

{% endblock %}