{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}


<div class="row mt-3 align-items-center mainbody">
    <div class="col-auto">
        <h1 class="title">Tag: {{popular_tag}}</h1>
    </div>
    <div class="col-auto"><a href="{% url 'index' %}">Hot questions</a></div>
</div>

{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}


<div class="row bottom ">
    <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default"><</button></a></div>

    <div class="col-auto bottompart"><button type="button" class="btn btn-default">{{ page.number }}</button></div>
    
    <div class="col-auto bottompart"><a href=""><button type="button" class="btn btn-default">></button></a></div>
</div>


{% endblock %}